include login.jade

mixin tribune_create
  div
  form(method='post')
    div.row
      div.small-4.column Create a tribune 
        button.radius(type='submit', name='random', value='yes') with a random name
      div.small-8.column
        div.row
          div.small-2.column
            label.right.inline(for='name') or called
          div.small-10.column
            div.row.collapse
              div.small-10.column
                input.right-label(id='name',type='text',name='name', placeholder='whatever')
              div.small-2.column
                button.button.radius.postfix(type='submit') ⏎


doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='shortcut icon', href='/public/png/miaoli.png')
  body
    nav.top-bar(data-topbar,role="navigation")
      ul.title-area
        li.name
          h1#title
            a(href='/') Miaoli
        li.toggle-topbar.menu-icon
          a(href='/')
            span Menu
      section.top-bar-section
        ul.right
          li.has-form.has-dropdown#user
            +login
    div.row
      div.column
        block content
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/public/javascripts/jquery.js')
    script(type='text/javascript', src='/public/javascripts/modernizr.js')
    script(type='text/javascript', src='/public/javascripts/placeholder.js')
    script(type='text/javascript', src='/public/javascripts/fastclick.js')
    script(type='text/javascript', src='/public/javascripts/foundation.min.js')
    script(type='text/javascript', src='/public/javascripts/puli.js')
    script(type='text/javascript', src='/public/javascripts/miaoli.js')
    script(type='text/javascript') $(document).foundation();
