mixin login
  if user
    a(href='/user') #{user.displayName} (<span class="provider">#{user.providerLabel}</span>)
    ul.dropdown
      li
        a.logout(href='/auth/logout') Logout
  else
    a Login
    ul.dropdown
      li
        a.login.google(href='/auth/google') Login with Google
      li.with-form
        label(for="username") Login with password
        form(action='/auth/local',method="post")
          input.row(type="text",name="username",placeholder="Login",id="username")
          input.row(type="password",name="password",placeholder="Password")
          input.row(type="submit",value="Login")

