extends layout

block content
  div.config(data-user-id=user.miaoliId)
    h1 Your settings

    form(action="",method="post")
      ul
        li
          label(for="name") Name
          input(id="name",type="text",name="name",value=user.displayName)

        li
          label(for="email") Email
          input(id="email",type="email",name="email",value=user.email)

        li
          label(for="password") New password
          input(id="password",type="password",name="password")
        li
          label(for="password-confirm") New password (confirmation)
          input(id="password-confirm",type="password",name="password-confirm")

        p
          input(type="submit",value="Save")
