body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tribune ol {
  list-style-type: none;
  padding: 0;
}

.tribune li {
  margin-bottom: 3px;
}

.tribune .time, .tribune .user {
  margin-right: 0.5ex;
}

.tribune .user {
  cursor: default;
  color: #7598C9;
}

.tribune .time {
  cursor: default;
  color: #FFFFFF;
  background: #BBBBBB;
  border: 1px solid transparent;

  padding-right: 3px;
  border-radius: 6px;

  transition: color 0.2s ease, background 0.2s ease;
}

.tribune .message {
  color: #42474a;
}

.tribune .user:after {
  content: ">";
}

.highlighted .time, .js-enabled .time:hover {
  background: #FFFFFF;
  color: #BBBBBB;
  border-color: #BBBBBB;
}

.js-enabled .time:before {
  color: black;
  content: "⤹";
}

.js-enabled .time {
  cursor: pointer;
}

.tribune input[name=message] {
  padding: 2px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}

.tribune input[name=message]:focus {
  border: 1px solid #333333;
}

.tribune .reference {
  cursor: default;
  color: #FFFFFF;
  background: #BBBBBB;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 6px;
  border: 1px solid transparent;

  transition: color 0.2s ease, background 0.2s ease;
}

.js-enabled .reference {
  cursor: pointer;
}

.js-enabled .reference:hover {
  background: #FFFFFF;
  color: #BBBBBB;
  border-color: #BBBBBB;
}

li.highlighted {
  background: #CCDDFF;
}

