/* vim:et ts=2 sw=2
 */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.top-bar {
  padding: 1em;
  height: auto;
  margin-bottom: 2em;
}

.top-bar, .top-bar li, .top-bar ul li a {
  background: #EEE !important;
  color: black;
}

.top-bar form {
  padding: 0 1ex 1em 1ex;
}

.top-bar li.with-form label {
  background: transparent;
  text-transform: none;
  color: black;
  font-size: 0.8125rem;
  font-weight: normal;
  padding-top: 1em !important;
  padding-bottom: 0 !important;
  line-height: 100% !important;
  text-align: left;
}

.top-bar .name h1 a {
  color: #00B7FF;
}

.top-bar-section li a:not(.button) { color: black !important; background:transparent !important; }
.top-bar-section li:hover { color: white !important; background:#00B7FF !important; }
.top-bar-section .has-dropdown>a:after { border-top-color: white; }

h1 form {
  display: inline-block;
  vertical-align: bottom;
}

h1 form fieldset {
  padding: 0;
  margin: 0 1ex 15px 1ex;
  line-height: 1px;
}

a {
  color: #00B7FF;
}

h1#title {
  margin: 0;
  font-size: 300%;
}

h1 a {
  text-decoration: none;
}

h1 a.config {
  margin-left: 1ex;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
}
h1 a.config:hover {
  text-decoration: underline;
}

.config form ul {
  list-style-type: none;
}

.config form li :first-child {
  display: inline-block;
  width: 200px;
}

.config form li * {
  vertical-align: middle;
  margin-left: 0;
  padding-left: 0;
}

.errors {
  font-style: italic;
  color: red;
}

#controls {
  margin: 0;
  list-style-type: none;
  white-space: nowrap;
  text-align: right;
}

#controls li {
  display: inline-block;
  margin: 1ex;
}

.totoz {
  color: #00B7FF;
}

.totoz img {
  margin-left: 5px;
  visibility: hidden;
  position: absolute;
}

.totoz:hover img {
  visibility: visible;
}

.tribune [contenteditable].message .url {
  color: #00B7FF;
  text-decoration: underline;
}

.tribune [contenteditable].message .totoz {
  color: #00B7FF;
}

.tribune [contenteditable].message .clock-reference {
  background: #BBBBBB;
  color: #FFFFFF;
  border-radius: 0 10px 10px 0;
  padding-right: 4px;
  margin-right: 0;
  margin-left: 1px;
  cursor: default;
}

.tribune [contenteditable].message .tag {
  color: #BBBBBB;
}

.tribune ol {
  list-style-type: none;
  padding: 0;
}

.tribune li {
  line-height: 140%;
}

.tribune .time, .tribune .user {
  margin-right: 0.5ex;
}

.tribune .user {
  cursor: default;
  color: #7598C9;
}

.tribune .time {
  cursor: default;
  color: #FFFFFF;
  background: #BBBBBB;
  border: 1px solid transparent;

  padding-right: 3px;
  border-radius: 6px;

  transition: color 0.2s ease, background 0.2s ease;
}

.tribune .message {
  color: #42474a;
}

.tribune .user:after {
  content: ">";
}

.highlighted .time, .js-enabled .time:hover {
  background: #FFFFFF;
  color: #BBBBBB;
  border-color: #BBBBBB;
}

.js-enabled .time:before {
  color: black;
  content: "⤹";
}

.js-enabled .time {
  cursor: pointer;
}

.tribune iframe {
  border: none;
  display: inline-block;
  vertical-align: top;
}

.tribune.iframe {
  margin: 0;
  padding: 2px;
}

.tribune [contenteditable].message {
  margin-top: 2px;
  width: 295px;
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
  padding: 4px 2px 0px 2px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  min-height: 21px;
  font-size: 14px;
}

.tribune input[name=nickname] {
  margin: 2px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  width: 25px;
  transition: width 0.2s ease;
  min-height: 21px;
  font-size: 14px;
}

.tribune input[name=nickname]:focus {
  border: 1px solid #333333;
  width: 100px;
}

.tribune input[name=message] {
  padding: 2px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
}

.tribune input[name=message]:focus {
  border: 1px solid #333333;
}

.tribune .reference {
  cursor: default;
  color: #FFFFFF;
  background: #BBBBBB;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 6px;
  border: 1px solid transparent;

  transition: color 0.2s ease, background 0.2s ease;
}

.js-enabled .reference {
  cursor: pointer;
}

.js-enabled .reference:hover {
  background: #FFFFFF;
  color: #BBBBBB;
  border-color: #BBBBBB;
}

li.highlighted {
  background: #CCDDFF;
}

